<div class="msg-container" [ngClass]="{'base-sent': !incoming, 'base-receive': incoming}">

  <div class="avatar" *ngIf="!incoming">
    <img src="{{message.author.avatarSrc}}">
  </div>

  <div class="messages" [ngClass]="{'msg-sent': !incoming, 'msg-receive': incoming}">
    <p>{{message.text}}</p>

    <!-- The 'fromNow' syntax displays a time in human readable format.... e.g '10 seconds ago' -->
    <p class="time">• {{message.sentAt | fromNow}}</p>
    
  </div>

  <div class="avatar" *ngIf="incoming">
    <img src="{{message.author.avatarSrc}}">
  </div>

</div>
